{% extends 'default.html' %}
{% block title %}Página Inicial{% endblock title %}

{% block body %}
<div>
    <section>
        <div>
            <h2>Coleção de Séries</h2>
        </div>
        <div>
            {% for series in selected_series %}
            <a href="/series/{{series.id}}">
                <div>
                    <img src="/proxy/cache/?url={{series.poster}}" alt="{{series.title}}">
                    <div>
                        <div>SÉRIE</div>
                        <div>{{series.title}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <section>
        <div>
            <h2>Coleção de Filmes</h2>
        </div>
        <div>
            {% for movie in selected_movies %}
            <a href="/movie/{{movie.id}}" target="_blank">
                <div>
                    <img src="/proxy/cache/?url={{movie.poster}}" alt="{{movie.title}}">
                    <div>
                        <div>FILME</div>
                        <div>{{movie.title}}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock body %}