{% extends 'default.html' %}

{% block title %}{% endblock title %}

{% block body %}
<!-- series info and images -->
<section>
    <img src="/proxy/cache/?url={{info.background}}" alt="{{info.title}} background">
    <img src="/proxy/cache/?url={{info.poster}}" alt="{{info.title}} poster">
    <img src="/proxy/cache/?url={{info.logo}}" alt="{{info.title}} logo">
    <h1>{{info.title}}</h1>
    <p>{{info.synopsis}}</p>
</section>

<!-- episodes section -->
<section>
    <!-- season selector -->
    <div>
        {% for season in season_count %}
        <a href="/series/{{info.id}}/{{season}}">
            <div class="{% if season == current_season %}{% endif %}">
                Season {{season}}
            </div>
        </a>
        {% endfor %}
    </div>

    <!-- list of episodes -->
    <div>
        {% for episode in info.episodes %}
        {% if episode.season == current_season %}
        <a href="/redirect/?url=/watch/series/{{info.id}}/{{current_season}}/{{episode.number}}/" target="_blank">
            <div id="ep-{{current_season}}x{{episode.number}}">
                <img loading="lazy" src="/proxy/cache/?url={{episode.thumbnail}}" alt="{{episode.title}}"
                    onerror="this.onerror=null;this.src='/proxy/cache/?url={{background}}';">

                <div>
                    <div>S{{current_season}} · E{{episode.number}}</div>
                    <div>{{episode.title}}</div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</section>

<!-- related media section -->
<section>
    {% for media in related_media %}
    <a href="/{{media.type}}/{{media.id}}/">
        <img src="{{media.poster}}" alt="{{media.name}} poster">
        <h4>{{media.title}}</h4>
    </a>
    {% endfor %}
</section>
{% endblock body %}