version: '3.8'

services:
  app:
    working_dir: /app
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "6222:6222" 
    volumes:
      - ../certs:/app/certs:ro
    restart: unless-stopped
    command: uv run manage.py runserver https