version: '3.8'

services:
  app:
    working_dir: /app
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "6222:6222" 
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
    restart: unless-stopped
    command: uv run manage.py runserver http --address 0.0.0.0:6222