{% extends 'default.html' %}

{% block head %}
<style>
    body {
        background-image: url("/proxy/cache/?url={{info.background}}");
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% if use_old_css %}
<link rel="stylesheet" href="/static/css/output.old.css">
{% endif %}
{% endblock head %}

{% block body %}
<div class="bg-slate-950/75 px-4">
    <!-- movie info and images -->
    <section class="flex flex-col mx-8 h-[92dvh] justify-center">
        <div class="flex flex-row pt-16 h-full w-full">
            <img class="min-w-96 hidden lg:block rounded-xl" src="/proxy/cache/?url={{info.poster}}"
                alt="{{info.title}} poster">

            <div class="flex flex-col px-8 py-16 w-4/5 h-[80%]">
                <div class="flex lg:items-center lg:justify-center pb-4">
                    <img class="max-w-96 max-h-40" src="/proxy/cache/?url={{info.logo}}" alt="{{info.title}} logo">
                </div>

                <div class="flex flex-col justify-between h-full p-8">
                    <div>
                        <h1 class="text-2xl font-bold">{{info.title}}</h1>
                        <p class="text-lg">{{info.synopsis}}</p>
                        <br>
                        <div class="flex flex-row justify-center items-center pb-4 text-lg font-bold">
                            <div class="mx-4">
                                Filme
                            </div>
                            •
                            <div class="mx-4">
                                {{info.year}}{% if info.end_year %}-{{info.end_year}}{% endif %}
                            </div>
                            •
                            <div class="flex flex-row justify-center items-center mx-4">
                                <svg class="w-8 h-8 text-amber-300" viewBox="0 0 24 24" fill="currentColor"
                                    role="presentation">
                                    <path
                                        d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z">
                                    </path>
                                </svg>

                                {{info.rating}}
                            </div>
                        </div>
                    </div>

                    <a href="/redirect/?url=/watch/movie/{{info.id}}" target="_blank">
                        <div class="p-2 rounded-lg text-2xl mx-8 h-15 bg-fuchsia-700 text-center">
                            Assistir
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- related media section -->
    <section class="pt-8">
        <h2 class="text-xl font-bold pb-4">FILMES E SÉRIES SEMELHANTES:</h2>
        <div id="related-media-container" class="flex overflow-scroll flex-wrap gap-4 pb-8 justify-center">
            {% for media in related_media %}
            <a href="/{{media.type}}/{{media.id}}/">
                <div class="w-40 lg:w-56 bg-slate-800/90 h-full">
                    <img class="w-full aspect-[2/3] object-cover" src="/proxy/cache/?url={{media.poster}}"
                        alt="{{media.name}} poster">
                    <div class="p-4">
                        <span class="text-cyan-600">{% if media.type == 'series' %}SÉRIE{% else %}FILME{% endif
                            %}</span><br>
                        <span>{{media.title}}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <script>
            function fixFlexRowWidth(node) {
                const nodeWitdh = node.clientWidth
                const gapSize = parseFloat(window.getComputedStyle(node).gap)
                const itemSize = node.children[0].clientWidth

                const rowElementCount = Math.floor((nodeWitdh + gapSize) / (itemSize + gapSize))
                const fillerElementsCount = node.getElementsByClassName('filler').length
                const totalElementCount = node.childElementCount - fillerElementsCount

                var missingElementsCount = rowElementCount - (totalElementCount % rowElementCount) - fillerElementsCount

                console.log(missingElementsCount);


                while (missingElementsCount > 0) {
                    const fillerDiv = document.createElement('div')
                    fillerDiv.style.width = `${itemSize}px`
                    fillerDiv.classList.add('filler')
                    node.appendChild(fillerDiv)

                    missingElementsCount--
                }
                while (missingElementsCount < 0) {
                    node.getElementsByClassName('filler')[0].remove()

                    missingElementsCount++
                }

            }

            function applyFlexRowWidthFix() {
                fixFlexRowWidth(document.getElementById("related-media-container"))
            }

            window.onload = function () { applyFlexRowWidthFix() }
            window.addEventListener('resize', () => { applyFlexRowWidthFix() })
        </script>
    </section>
</div>
{% endblock body %}